<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893071096204-gd8e5dcdkjtlqq5l32s41maqdtueu32s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893071096204-gd8e5dcdkjtlqq5l32s41maqdtueu32s</string>
	<key>API_KEY</key>
	<string>AIzaSyBaCSAUbIueNS728p6GRyLQOcixDHT4PZA</string>
	<key>GCM_SENDER_ID</key>
	<string>893071096204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asm.fittrack</string>
	<key>PROJECT_ID</key>
	<string>fittrack-app-2749e</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-app-2749e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893071096204:ios:d8e34c8fbb4c03993f7ea9</string>
</dict>
</plist>